<section id="barraMenu" class="menu-container py-2">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <h1 class="navbar-brand">Hello World!</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#barraMenu">INICIO<span class="emoji ms-1" aria-hidden="true">👋</span></a>
                    <a class="nav-link" href="#sobreMi">SOBRE MI<span class="emoji ms-1" aria-hidden="true">🧑🏽</span></a>
                    <a class="nav-link" href="#skills">SKILLS<span class="emoji ms-1" aria-hidden="true">💡</span></a>
                    <a class="nav-link" href="#portfolio">PORTFOLIO<span class="emoji ms-1" aria-hidden="true">📁</span></a>
                </div>
            </div>
        </div>
    </nav>
</section>
